{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scholarship Application-BTES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'tests/css/custom.css' %}" rel="stylesheet" />
</head>
<body>

    <div class="exam-layout">

		<!-- LEFT PANEL -->
		<aside class="left-panel">
			<section class="sidebar-content">
				<div class="logo">
					<a href="#"><img src="{% static 'tests/images/logo-white.png' %}" alt="BTES" /></a>
				</div>

				<figure>
					<img src="{% static 'tests/images/registration.png' %}" alt="" />
				</figure>

				<div class="copyright">
					Copyright © BTES. All rights reserved.
				</div>
			</section>

		</aside>

		<!-- RIGHT PANEL -->
		<main class="right-panel">

			<div class="content-area">
                <section class="question-section">
                    <form method="post">
                        {% csrf_token %}

                        <h2 class="section-title">
                            Student Registration
                        </h2>

                        <div class="divider"></div>

                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}">
                                Name
                            </label>

                            {{ form.name }}

                            {% for error in form.name.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}">
                                Email
                            </label>

                            {{ form.email }}

                            {% for error in form.email.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.password.id_for_label }}">
                                Password
                            </label>

                            {{ form.password }}

                            {% for error in form.password.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <input
                            type="hidden"
                            name="college"
                            value="{{ college.id }}">

                        <div class="form-group">
                            <label for="{{ form.mobile_number.id_for_label }}">
                                Mobile Number
                            </label>

                            {{ form.mobile_number }}

                            {% for error in form.mobile_number.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.stream.id_for_label }}">
                                Stream
                            </label>

                            {{ form.stream }}

                            {% for error in form.stream.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="divider"></div>

                        <div class="actions">

                            <button
                                type="submit"
                                class="btn next">
                                Register
                            </button>

                        </div>

                    </form>
                </section>
			</div>

		</main>

	</div>

    <script src="{% static 'tests/js/script.js' %}"></script>

</body>
</html>
