{% load static %}
<div id="guidelinesModal" class="guidelines-modal">

    <div class="guidelines-card">


        <h2>Scholarship Test Guidelines</h2>

        <ul class="guidelines-list">
            <li>Total Questions: 20</li>
            <li>Total Duration: 20 Minutes</li>
            <li>Each student can attempt only once.</li>
            <li>Test will auto-submit after time expires.</li>
            <li>Do not refresh the page during the exam.</li>
            <li>Use a stable internet connection.</li>
            <li>Switching tabs may lead to auto submission.</li>
        </ul>

        <div class="agreement">
            <input type="checkbox" id="guidelineCheck">

            <label for="guidelineCheck">
                I have read and understood all the exam guidelines and agree to proceed with the Scholarship Test.
            </label>
        </div>

        <button id="startExamBtn" disabled>
            Start Scholarship Test
        </button>

    </div>

</div>