{% load static question_extras %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Scholarship Application-BTES</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{% static 'tests/css/custom.css' %}" rel="stylesheet" />
  
</head>
<body class="bg-light">


<div class="exam-layout">

        <!-- LEFT PANEL -->
        <aside class="left-panel">
            <section class="sidebar-content">
                <div class="logo">
                    <a href="#"><img src="{% static 'tests/images/logo-white.png' %}" alt="BTES" /></a>
                </div>

                <div class="nav-card">

                    <div class="hall-ticket">
                        Hall Ticket: {{ request.student.hall_ticket }}
                    </div>

                    <h4 class="nav-title">
                        <span>•</span> Navigation Panel <span>•</span>
                    </h4>

                    <!-- <div class="question-grid">

                        <button class="q-btn answered">1</button>
                        <button class="q-btn answered">2</button>
                        <button class="q-btn answered">3</button>
                        <button class="q-btn skipped">4</button>
                        <button class="q-btn answered">5</button>

                        <button class="q-btn active">6</button>
                        <button class="q-btn">7</button>
                        <button class="q-btn">8</button>
                        <button class="q-btn">9</button>
                        <button class="q-btn">10</button>

                        <button class="q-btn">11</button>
                        <button class="q-btn">12</button>
                        <button class="q-btn">13</button>
                        <button class="q-btn">14</button>
                        <button class="q-btn">15</button>

                        <button class="q-btn">16</button>
                        <button class="q-btn">17</button>
                        <button class="q-btn">18</button>
                        <button class="q-btn">19</button>
                        <button class="q-btn">20</button>

                    </div> -->

                    <div class="question-grid">
                      {% for q in questions %}
                      <button
                          type="button"
                          class="q-btn"
                          id="nav-{{ forloop.counter }}"
                          onclick="showQuestion({{ forloop.counter }})">
                          {{ forloop.counter }}
                      </button>
                      {% endfor %}
                    </div>
                    <div class="indicators">

                        <h4>Indicators</h4>

                        <div class="indicator-grid">

                            <div class="indicator-item">
                                <span class="dot orange"></span>
                                Responded
                            </div>

                            <div class="indicator-item">
                                <span class="dot blue"></span>
                                Active
                            </div>

                            <div class="indicator-item">
                                <span class="dot yellow"></span>
                                Bookmarked
                            </div>

                            <div class="indicator-item">
                                <span class="dot white"></span>
                                Unattempted
                            </div>

                        </div>

                    </div>

                </div>

                <div class="copyright">
                    Copyright © BTES. All rights reserved.
                </div>
            </section>

        </aside>

        <!-- RIGHT PANEL -->
        <main class="right-panel">

            <div class="content-area">
                <div class="timer-card">

                    <div class="timer-title">
                        Time Remaining
                    </div>

                    <div class="timer-row">
                      <div class="timer-icon">⏱</div>

                      <div class="timer-countdown">
                          <div class="timer" id="timer"></div>

                          <div class="timer-labels">
                              <span>Min</span>
                              <span>Sec</span>
                          </div>
                      </div>
                  </div>


                </div>

                <section class="question-section">

                  <div class="progress-text" id="progress-text">
                      0 of {{ questions|length }} completed
                  </div>

                  <div class="progress-bar">
                      <div class="progress-fill" id="progress-fill"></div>
                  </div>

                  <form id="exam-form" method="post" action="{% url 'submit_quiz' %}">
                      {% csrf_token %}

                      {% for q in questions %}
                      <div class="question-block"
                          id="question-{{ forloop.counter }}"
                          data-qnum="{{ forloop.counter }}"
                          style="display:none;">

                          <h2 class="section-title">
                              Question {{ forloop.counter }}
                          </h2>

                          <h3 class="question-text">
                              {{ q.question_text }}
                          </h3>

                           <button
                              type="button"
                              class="bookmark-btn"
                              id="bookmark-btn-{{ forloop.counter }}"
                              onclick="toggleBookmark({{ forloop.counter }})">
                              ☆ Bookmark
                          </button>

                          {% for i in "1234" %}
                              {% with option_value=q|get_option:i %}
                                  {% if option_value %}
                                      <label class="option">
                                          <input
                                              type="radio"
                                              name="q{{ q.id }}"
                                              value="{{ i }}"
                                              id="q{{ q.id }}{{ i }}">

                                          <span class="radio"></span>

                                          <span class="option-text">
                                              {{ option_value }}
                                          </span>
                                      </label>
                                  {% endif %}
                              {% endwith %}
                          {% endfor %}

                      </div>
                      {% endfor %}

                      <div class="divider"></div>

                      <div class="actions">

                          <button
                              type="button"
                              id="prev-btn"
                              class="btn prev"
                              onclick="prevQuestion()">
                              Prev
                          </button>

                          <button
                              type="button"
                              id="next-btn"
                              class="btn next"
                              onclick="nextQuestion()">
                              Next →
                          </button>

                          <button
                              type="submit"
                              id="submit-btn"
                              class="btn next"
                              style="display:none;">
                              Submit Test
                          </button>

                      </div>

                  </form>

                </section>
            </div>

        </main>

    </div>

    <script>
      window.examConfig = {
          totalQuestions: {{ questions|length }},
          examEndTime: "{{ exam_end_time|escapejs }}"
      };
    </script>

    <script src="{% static 'tests/js/script.js' %}"></script>

</body>
</html>
