{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scholarship Application-BTES</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{% static 'tests/css/custom.css' %}" rel="stylesheet" />
  
</head>

<body>

	<div class="exam-layout">

		<!-- LEFT PANEL -->
		<aside class="left-panel">
			<section class="sidebar-content">
				<div class="logo">
					<a href="#"><img src="{% static 'tests/images/logo-white.png' %}" alt="BTES" /></a>
				</div>

				<figure>
					<img src="{% static 'tests/images/successfully-submitted-the-quiz.png' %}" alt="" />
				</figure>

				<div class="copyright">
					Copyright © BTES. All rights reserved.
				</div>
			</section>

		</aside>

		<!-- RIGHT PANEL -->
		<main class="right-panel">

			<div class="content-area">
				<div class="card-thank-you">
					<figure><img src="{% static 'tests/images/Tick-mark.png' %}" alt="" class="img-fluid" width="100" height="100"></figure>
					<h2 class="section-title">You Have Successfully Submitted the Quiz!</h2>
					<hr>
					<p>Thank you for participating in the quiz.<br>Your responses have been recorded successfully.</p>
				</div>
			</div>

		</main>

	</div>

	<script src="{% static 'tests/js/script.js' %}"></script>

</body>

</html>